/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    h1 {font-size:15rem;} /*1rem = 16px*/

    .container {
        padding: 40px 60px;
    }

    .showIndicators{
        visibility: collapse;
    }
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    h1 {font-size:15rem;} /*1rem = 16px*/

    .showIndicators{
        visibility: visible;
    }
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    h1 {font-size:15rem;} /*1rem = 16px*/

    .container {
        padding: 80px 120px;
    }

    /* #banner .inner {
        -moz-animation: reveal-banner 1s 0.25s ease-in-out;
        -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
        -ms-animation: reveal-banner 1s 0.25s ease-in-out;
        animation: reveal-banner 1s 0.25s ease-in-out;
        -moz-animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        background: rgba(42, 43, 44, 0.5);
    } */
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    h1 {font-size:17rem;} /*1rem = 16px*/
  }
   
  /* h1 {font-size:15rem;} 1rem = 16px */
 

body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}
h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
}

.title1{
    font-family: Lobster, sans-serif;
    font-size:17rem;
}

.title2{
    font-family: Nosifer, sans-serif;
    font-size:4rem;
}

.title3{
    font-family: Aclonica, sans-serif;
    font-size:6rem;
}

.title4{
    font-family: 'Emblema One', sans-serif;
    font-size:6rem;
}

.title5{
    font-family: Lato, sans-serif;
    font-size:7rem;
}


.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail p {
    margin-top: 15px;
    color: #555;
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}
.modal-header, .modal-body {
    padding: 40px 50px;
}
.nav-tabs li a {
    color: #777;
}
#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}  
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: red !important;
}
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}  
.form-control {
    border-radius: 0;
}
textarea {
    resize: none;
}

/* Banner */

@-moz-keyframes reveal-banner {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes reveal-banner {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes reveal-banner {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes reveal-banner {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#banner {
    
    color: rgb(146, 11, 11);
    cursor: default;
    padding: 6em 0;
    text-align: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}


